body
{
background-image:url('car.jpg') ;
background-repeat: norepeat;
background-size:1520px 720px;

}
#mymenu
{
background:rgba(0,0,0,0.7);
color:white;
text-align:right;
}
#mymenu ul li
{
display:inline-block;
padding:20px;
}
#mymenu ul li:hover
{
background:white;
color:black;
}
#mydata
{
margin-top:100px;
}
table
{
background:rgba(0,0,0,0.7);
color:white;
box-shadow:15px 15px 15px white;
}
.A
{
border-radius:50px;
}
.B
{
width:85px;
height:40px;
border-radius:0px 10px 0px 20px;
background:black;
color:white;
}
.B:hover
{
padding:8px;
border-radius:10px 0px 20px 0px;
background:white;
color:black;
}